@model MVC.Models.EditViewModel

@{
    ViewBag.Title = "Edit";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Vinyl.Id)

        <div class="form-group">
            @Html.LabelFor(model => model.Vinyl.Name, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Vinyl.Name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Vinyl.Name, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Vinyl.Year, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Vinyl.Year, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Vinyl.Year, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Vinyl.Price, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Vinyl.Price, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Vinyl.Price, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Vinyl.Artist)
            <div class="col-md-10">
                <select class="form-control" name="artistId">
                    @foreach (var artist in Model.Artists)
                    {
                        var currentArtist = Model.Vinyl.Artist;
                        if (currentArtist != null)
                        {
                            if (artist.Id == currentArtist.Id)
                            {
                                <option selected="selected" value=@artist.Id>@artist.Name</option>
                            }
                            else
                            {
                                <option value=@artist.Id>@artist.Name</option>
                            }
                        }
                        else
                        {
                            <option value=@artist.Id>@artist.Name</option>
                        }
                    }
                </select>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Vinyl.Genre)
            <div class="col-md-10">
                <select class="form-control" name="genreId">
                    @foreach (var genre in Model.Genres)
                    {
                        var currentGenre = Model.Vinyl.Genre;
                        if (currentGenre != null)
                        {
                            if (genre.Id == currentGenre.Id)
                            {
                                <option selected="selected" value=@genre.Id>@genre.Name</option>
                            }
                            else
                            {
                                <option value=@genre.Id>@genre.Name</option>
                            }
                        }
                        else
                        {
                            <option value=@genre.Id>@genre.Name</option>
                        }
                    }
                </select>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
