@using Microsoft.AspNet.Identity
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Pladespilleren</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="bar">

        <div id="logged-in-name">
            @if (!User.Identity.GetUserName().IsEmpty())
            {
                @("Logged in as: " + User.Identity.GetUserName())
            }
        </div>
        <div class="container">
            @Html.Partial("_LoginPartial")
        </div>
    </div>

    <div class="content container">
        @RenderBody()
    </div>

    <img id="pladespiller" src="/pictures/Firmalogo.png" />
    <img id="Vinyler" src="/pictures/Firmalogo2.png" />
    <footer class="bar footerbar">
        <div class="container">
            <div>
                <p>Copyright &copy; 2015 Pladespilleren. Alle rettigheder forbeholdes.<br><span style="color: grey; font-family: monospace;font-size: 1em">Rasmus Nielsen & Hardy Drachmann</span></p></div>
        </div>
    </footer>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
