<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Pladespilleren</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="bar navigation">
        <div class="container">
            @Html.Partial("_LoginPartial")
        </div>
    </div>














    <div class="container">
        @RenderBody()
        <hr />
    </div>
    <img id="pladespiller" src="/pictures/Firmalogo.png" />
    <footer class="bar">
        <div class="container">
            <p>Pladespilleren &copy; 2015</p>
        </div>
    </footer>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
