@model MVC.Models.CreateViewModel

@{
    ViewBag.Title = "Create";
}

<br />
<br />
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" }) @*hidden field with error message for whole form*@
        <div class="form-group">
            @Html.LabelFor(model => model.Vinyl.Name, htmlAttributes: new { @class = "control-label col-md-2" }) @*name of vinyl domain model "album"*@
            <div class="col-md-8">
                @Html.EditorFor(model => model.Vinyl.Name, new { htmlAttributes = new { @class = "form-control" } }) @*input field*@
                @Html.ValidationMessageFor(model => model.Vinyl.Name, "", new { @class = "text-danger" }) @*hidden field with error message for editor*@
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Vinyl.CoverUrl, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-8">
                @Html.EditorFor(model => model.Vinyl.CoverUrl, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Vinyl.CoverUrl, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Vinyl.Year, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-8">
                @Html.EditorFor(model => model.Vinyl.Year, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Vinyl.Year, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Vinyl.Price, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-8">
                @Html.EditorFor(model => model.Vinyl.Price, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Vinyl.Price, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Vinyl.Artist, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-8">
                <select class="form-control" name="artistId">
                    @foreach (var artist in Model.Artists)
                    {
                        <option value=@artist.Id>@artist.Name</option>
                    }
                </select>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Vinyl.Genre, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-8">
                <select class="form-control" name="genreId">
                    @foreach (var genre in Model.Genres)
                    {
                        <option value=@genre.Id>@genre.Name</option>
                    }
                </select>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
